body { 
  padding-top: 70px;
}

.timeline {
  background-color: #e0e1e2; /*#E1E1E1;*/
  border: 1px solid;
  border-width: 0 1px;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
}

.story-container, .business-container, .review-container,
.story-heading, .business-heading, .review-heading,
.story-meta, .business-meta, .review-meta,
.story-content, .business-content, .review-content {
  background-color: #fafafa;
}

.story-container, .business-container, .review-container {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
  border-width: 1px;
  border-radius: 2px;
  border-color: #c0c0c0;
}

/* based on business-container */
.listing-container {
  background-color: #fafafa;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-width: 1px;
  border-radius: 2px;
  border-color: #c0c0c0;
}

/* based on business-container */
.subheading {
  background-color: #fafafa;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  border-width: 1px;
  border-radius: 2px;
  border-color: #c0c0c0;
}

/* based on business meta */
.business-meta-mini {
  background-color: #fafafa;
  margin-top: 2px;
  margin-left: 18px;
  margin-right: 18px;
  padding-left: 18px;
  padding-right: 2px;
}

.listing-nested {
  background-color: #fafafa;
  margin-top: 2px;
  margin-left: 16px;
  margin-right: 16px;
}

/* based on business meta */
.address-card-mini {
  background-color: #fafafa;
  margin-top: 2px;
  margin-left: 18px;
  margin-right: 18px;
  padding-left: 18px;
  padding-right: 2px;
}


.user-profile-header {
  background-color: #fafafa;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-width: 1px;
  border-radius: 2px;
  border-color: #c0c0c0;
  padding-bottom: 4px;
}

.story-heading, .business-heading, .review-heading,
.story-meta, .business-meta, .review-meta {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;

}

.story-heading, .business-heading, .review-heading {
  padding-left: 18px;
  padding-right: 18px;

}

.story-meta, .business-meta, .review-meta {
  padding-left: 3px;
  padding-right: 3px;
}


.story-content, .business-content, .review-content {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;

  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;  
  padding-top: 5px;
}

.story-interaction, .business-interaction, .review-interaction {
  border-top: 1px solid;
  border-color: #dadde1;
  background-color: #fafafa;
  
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
}

.customh5{
  margin-bottom: 0px;
  /*color: #a8a9ab;*/
}

.btn-cust {
  border: 0px transparent;
  border-radius: 0px;
  background-color: #fafafa;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  padding-right: 0px;
  padding-left: 0px;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

textarea {
    resize: none;
}

/* Override Bootstrap 3 font locations */
@font-face {
font-family: 'Glyphicons Halflings';
src: url('/assets/glyphicons-halflings-regular.eot');
src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
     url('/assets/glyphicons-halflings-regular.woff') format('woff'), 
     url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), 
     url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
